<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LEDControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LEDControl.Properties.Settings>
            <setting name="HDDReadPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HDDWritePower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HDDReadDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDWriteDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDReadMicrophone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDWriteMicrophone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDReadSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDWriteSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLMicrophone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CapsLockDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HDDDisable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NLDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NLPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NLMicrophone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NLSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberKBD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KBDLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LightOffWhileFS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HDDReadFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDDWriteFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NLFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertMicrophone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Driver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </LEDControl.Properties.Settings>
    </userSettings>
</configuration>